.menu-bar {
	width: 15%;
	float: left;
	background-color: #4e73df;
	border-radius: 10px;
	padding-bottom: 10%;
	min-height: 100vh;
}

.menu-bar small {
	color: white;
	margin-left: 5%;
	float: left;
}

.menu-bar div {
	margin: 5% 5% 5% 5%;
	width: 90%;
	float: left;
	color: white;
}

.menu-bar hr {
	margin: 5% 5% 5% 5%;
	float: left;
	width: 90%;
	border: 0.5px solid white;
}

#front-page {
	font-size: 30px;
	text-align: center;
}

#front-page a {
	color: white;
	text-decoration: none;
}

.content {
	margin-left: 1%;
	width: auto;
	float: left;
	width: 83%;
	/* background-color: silver; */
}

#menu-bar-content a {
	color: #ede8da;
	text-decoration: none;
}

#menu-bar-content a:hover {
	color: white;
}

#content-header {
	width: 99%;
	float: left;
	margin-top: 1%;
}

#content-header p {
	font-size: 30px;
	float: left;
	color: #575c59;
}

#content-header-action {
	float: right;
}

#content-body-buidling {
	/* background-color: gray; */
	width: 60%;
	float: left;
}

#content-body-floor {
	/* background-color: gray; */
	width: 60%;
	float: left;
}

#buildingList {
	width: 100%;
	float: left;
}

#floorLink {
	width: 70%;
	float: left;
	position: relative;
}

#floorLink span {
	float: right;
}

#imageButton {
	width: 10%;
	float: left;
	text-align: center;
}

#deleteButton {
	width: 10%;
	float: left;
	text-align: center;
}

#infoButton {
	width: 10%;
	float: left;
	text-align: center;
}

#floorImage {
	height: 80vh;
}

.modal-body {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#list-group {
	width: 100%;
	float: left;
}

#list-group-1 {
	float: left;
	width: 75%;
}

#list-group-2 {
	float: left;
	width: 25%;
}

#navigate-footer {
	float: left;
	width: 100%;
	margin-top: 1%;
}

#navigate-footer a {
	float: left;
}

.modal-header {
	background-color: #4e73df;
}

.modal-header h5 {
	color: white;
}

.col-sm-1 {
	color: red;
	padding-left: 0px !important;
}

#form-header {
	background-color: #4e73df;
	margin-bottom: 2%;
	border-radius: 10px;
}

#form-header h5 {
	color: white;
}