body, html {
	height: 100%;
}

.bg {
	/* Full width */
	height: 100%;
}

.icon {
	/* background-image: url("${pageContext.request.contextPath}/images/background.png"); */
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	float: left;
	width: 40%;
	border: 2px solid white;
	position: relative;
	border-radius: 25px;
	background-repeat: no-repeat;
	background-size: cover;
}

.icon div {
	height: auto;
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.icon div img {
	width: 70%;
	height: auto;
	border-radius: 50%;
}

.icon div h2 {
	color: white;
}

.content {
	max-width: 50%;
	height: 95%;
	background-color: white;
	float: left;
	width: 57%;
	margin: 0.5% 0.5% 0.5% 2.5%;
	height: 95%;
}

.content-header {
	width: 99%;
	float: left;
	margin-top: 1%;
	margin-bottom: 1%;
}

.content-header p {
	font-size: 25px;
	float: left;
}

.content-header a {
	float: right;
}

.content-body {
	width: 99%;
	float: left;
	background-color: teal;
}

.list-group {
	float: left;
	width: 100%;
}

.list-header {
	width: 100%;
	float: left;
	background-color: #4e73df;
	padding: 10px 10px 10px 10px;
}

#company-list-title {
	width: 90%;
	float: left;
}

#company-list-action {
	width: 10%;
	float: left;
	text-align: center;
}

.list-header a, h5 {
	color: white;
	margin-bottom: 0px;
}

.list-body {
	max-height: 60vh;
	overflow-y: scroll;
	overflow: auto;
}

#company-list {
	width: 100%;
}

#company-list-item-1 {
	float: left;
	width: 70%;
}

#company-list-item-1 span {
	float: right;
}

#company-list-item-2 {
	float: left;
	width: 30%;
	text-align: center;
	font-weight: bold;
	color: blue;
}

#company-list-header {
	position: sticky;
	top: 0;
	z-index: 10;
}

#company-list-header-1 {
	float: left;
	width: 70%;
	text-align: center;
	font-weight: bold;
}

#company-list-header-2 {
	float: left;
	width: 30%;
	text-align: center;
	font-weight: bold;
}

#company-list-item-2:hover {
	cursor: pointer;
}

.modal-header {
	background-color: #4e73df;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

#buildingWraper {
	float: left;
	width: 80%;
	margin-left: 10%;
}

#buildingWraper button {
	float: right;
}

.col-sm-1 {
	color: red;
	padding-left: 0px;
}

#form-header {
	padding: 10px 10px 10px 10px;
	background-color: #4e73df;
	margin-bottom: 5%;
}

#form-header h5 {
	color: white;
}

#building-list {
	width: 100%;
	margin-top: 10px;
	max-height: 45vh;
	overflow: auto;
}

#building-list .list-header {
	position: sticky;
	top: 0;
	z-index: 10;
}

#building-list-item-1 {
	float: left;
	width: 60%;
}

#building-list-item-2 {
	float: left;
	width: 20%;
	text-align: center;
}

#building-list-item-3 {
	float: left;
	width: 20%;
	text-align: center;
}

.wraper {
	width: 100%;
	margin: 2% 0% 2% 0%;
	float: left;
	position: relative;
}

#actionWraper {
	float: left;
	width: 30%;
}

#messageWraper {
	float: left;
	width: 70%;
}

#messageWraper span {
	position: absolute;
	top: 0px;
	right: 0px;
}

.success {
	color: green;
	text-decoration: underline;
}

.modal-body {
	padding-bottom: 0px !important;
}

.margin-middle {
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 10px;
}

.col-sm-7, .col-sm-8, .col-sm-6, .col-sm-5 {
	padding-left: 0px !important;
}

.modal {
	background-color: rgba(0, 0, 0, 0.7);
}

#building-modal {
	margin-top: 10px !important;
}

#building-modal .modal-content {
	max-height: 99vh;
}

.modal-open .modal {
	overflow: hidden;
}

.empty {
	float: left;
	width: 100%;
	text-align: center;
	padding: 1rem;
}

.empty h5 {
	color: black;
}