#menu-bar {
	width: 15%;
	float: left;
	background-color: #4e73df;
	border-radius: 10px;
	padding-bottom: 10%;
	min-height: 100vh;
}

#menu-bar small {
	color: white;
	margin-left: 5%;
	float: left;
}

#menu-bar-floor-list {
	float: left;
	color: white;
	margin-top: 0% !important;
}

#menu-bar-floor-list a {
	width: 95%;
	float: left;
	color: #ede8da;
	text-decoration: none;
	float: left;
	margin-top: 3%;
}

#menu-bar-floor-list a:hover {
	color: white;
}

#front-page {
	text-align: center;
	font-size: 30px;
}

#menu-bar div {
	margin: 5% 5% 5% 5%;
	width: 90%;
	float: left;
	color: white;
}

#menu-bar hr {
	margin: 5% 5% 5% 5%;
	float: left;
	width: 90%;
	border: 0.5px solid white;
}

#menu-bar-content a {
	color: #ede8da;
	text-decoration: none;
}

#menu-bar-content a:hover {
	color: white;
}

.content {
	margin-left: 1%;
	width: auto;
	float: left;
	width: 84%;
	/* background-color: silver; */
}

#content-header {
	width: 99%;
	float: left;
	margin-top: 1%;
}

#content-header p {
	font-size: 30px;
	float: left;
	color: #575c59;
}

#content-header-action {
	float: right;
}

#content-body-list {
	float: left;
	width: 49%;
	margin-left: 0.5%;
}

#content-body-list-body {
	float: left;
	width: 100%;
}

#content-body-list-item-1 {
	float: left;
	width: 100%;
	text-align: center;
}

#list-item-1-item-1 {
	float: left;
	width: 50%;
}

#list-item-1-item-2 {
	float: left;
	width: 20%;
}

#list-item-1-item-3 {
	float: left;
	width: 20%;
}

#list-item-1-item-4 {
	float: left;
	width: 10%;
}

#content-body-list-item-2 {
	float: left;
	width: 100%;
	text-align: center;
}

#list-item-2-item-1 {
	width: 30%;
	float: left;
}

#list-item-2-item-2 {
	width: 20%;
	float: left;
}

#list-item-2-item-3 {
	width: 20%;
	float: left;
}

#list-item-2-item-4 {
	width: 20%;
	float: left;
}

#list-item-2-item-5 {
	width: 10%;
	float: left;
}

#content-body-info-body {
	width: 100%;
	float: left;
}

#allLocation {
	max-height: 200px;
	overflow-y: scroll;
	margin-bottom: 5px;
}

#list-group {
	width: 100%;
	float: left;
}

#list-group-1 {
	float: left;
	width: 60%;
}

#list-group-2 {
	float: left;
	width: 40%;
}

.col-sm-1 {
	color: red;
	padding-left: 0px;
}

#neighbourName {
	caret-color: transparent !important;
	pointer-events: none;
}

.modal-body {
	padding-bottom: 0px;
}

.modal-header {
	background-color: #4e73df;
}

.modal-header h5 {
	color: white;
}