.wrapper-progressBar {
	width: 98%;
	float: left;
	margin: 1%
}

.progressBar {
	
}

.progressBar li {
	list-style-type: none;
	float: left;
	width: 48%;
	position: relative;
	text-align: center;
}

.progressBar li:before {
	content: " ";
	line-height: 30px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	display: block;
	text-align: center;
	margin: 0 auto 10px;
	background-color: white
}

.progressBar li:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ddd;
	top: 15px;
	left: -50%;
}

.progressBar li:first-child:after {
	content: none;
}

.progressBar li.active {
	color: dodgerblue;
}

.progressBar li.done {
	color: green;
}

.progressBar li.active:before {
	border-color: dodgerblue;
	background-color: dodgerblue
}

.progressBar li.done:before {
	border-color: green;
	background-color: green;
}

.progressBar li.active+li:after {
	background-color: dodgerblue;
}

.progressBar li.done+li:after {
	background-color: green;
}