<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fpt.capstone.inqr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera.ar" />

    <application
        android:name=".activity.INQRApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_new"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_app_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.ar.core" android:value="optional" />
    </application>

</manifest>